body {
  overflow: hidden !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  display: block;
  background: #d6ecff;
  border-radius: 50%;
  filter: blur(50px);
  position: absolute;
  z-index: -2;
}

body::after {
  content: "";
  display: block;
  background: #c8dfff;
  width: 250px;
  height: auto;
  border-radius: 50%;
  filter: blur(100px);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}

.app-1 header {
  display: flex;
  gap: 200px;
}

.app-1 .calendar .cal-nav {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.app-1 .calendar .cal-nav h1 {
  font-size: 1.2em;
  font-weight: 500;
}

.app-1 .calendar .cal-nav .icon {
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(1px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 15px;
  height: 15px;
  color: #6c88a6;
  font-size: 0.7em;
}

.app-1 .calendar .cal-nav .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app-1 .calendar .cal-nav .a {
  margin-left: 40px;
}

.app-1 .calendar .cal-days {
  display: flex;
  gap: 12.5px;
  padding: 10px;
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8em;
}

.app-1 .calendar .cal-dates {
  display: grid;
  grid-template-columns: repeat(7, 0.2fr);
  grid-template-rows: repeat(6, 0.2fr);
  grid-column-gap: 14px;
  grid-row-gap: 8px;
  padding: 10px;
  padding-left: 20px;
}

.app-1 .calendar .cal-dates .light {
  color: gray;
}

.app-1 .calendar .cal-dates .day:nth-child(10) {
  color: transparent;
  background: linear-gradient(#4da3ff, #1f5faa);
  background-clip: text;
  -webkit-background-clip: text;
}

.app-1 .manager .schedule {
}

.app-1 .manager .schedule h1 {
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 10px;
}

.app-1 .manager .schedule .task {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.app-1 .manager .schedule .task-1 .icon,
.app-1 .manager .schedule .task-4 .icon {
  color: #4da3ff;
  background: #d6ecff;
  padding: 10px;
  border-radius: 10px;
}

.app-1 .manager .schedule .task-1 span,
.app-1 .manager .schedule .task-4 span {
  color: gray;
  font-size: 0.7em;
}

.app-1 .manager .schedule .task-1 h2,
.app-1 .manager .schedule .task-4 h2 {
  font-weight: 500;
  font-size: 0.8em;
}

.app-1 .manager .schedule .task-2 .icon {
  color: #6f8cff;
  background: #dee6ff;
  padding: 10px;
  border-radius: 10px;
}

.app-1 .manager .schedule .task-2 span {
  color: gray;
  font-size: 0.7em;
}

.app-1 .manager .schedule .task-2 h2 {
  font-weight: 500;
  font-size: 0.8em;
}

.app-1 .manager .schedule .task-3 .icon {
  color: #48b8ff;
  background: #d4ecff;
  padding: 10px;
  border-radius: 10px;
}

.app-1 .manager .schedule .task-3 span {
  color: gray;
  font-size: 0.7em;
}

.app-1 .manager .schedule .task-3 h2 {
  font-weight: 500;
  font-size: 0.8em;
}

.app-1 .manager button {
  background: #1f2a4d;
  border: 1px solid transparent;
  color: #f6f7f9;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -115px;
  margin-left: 185px;
}

.app-1 .manager button i {
  font-size: 2em;
  font-weight: 100;
}

.app-1 .manager .nav {
  z-index: -10;
  border-radius: 20px;
  margin-top: 10px;
}

.app-1 .manager .nav ul {
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  background: rgba(230, 240, 255, 0.5);
  box-shadow: 0px -1px 2px rgba(71, 66, 65, 0.75);
  display: flex;
  gap: 20px;
  font-size: 1.3em;
  border-radius: 20px;
}

.app-1 .manager .nav ul .light {
  color: gray;
}

.app-1 .manager .nav ul li:nth-child(1) {
  margin-left: -30px;
}

.app-2 {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(26px) saturate(180%);
  border-radius: 20px;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  color: #14284a;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-2 header {
  display: flex;
  gap: 200px;
  padding-top: 15px;
}

.app-2 img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.app-2 .new-task h1 {
  font-weight: 500;
  font-size: 1.2em;
}

.app-2 .new-task .tags ul {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.app-2 .new-task .tags ul li {
  padding: 7px;
  font-size: 0.6em;
  border-radius: 20px;
  background: #dfe9ff;
}

.active {
  background: linear-gradient(45deg, #4da3ff, #1f6dff) !important;
  color: white;
}

.app-2 .new-task .hi {
  margin-top: 20px;
}

.app-2 .new-task .task-create,
.app-2 .new-task .location {
  margin-top: 10px;
}

.app-2 .new-task .task-create input,
.app-2 .new-task .location input {
  background: #f5f9ff;
  padding: 5px;
  border-radius: 3px;
  border-color: transparent;
  outline: none;
  width: 215px;
}

.app-2 .new-task .time-1,
.app-2 .new-task .time-2 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 110px;
}

.app-2 .new-task .time-1 input,
.app-2 .new-task .time-2 input {
  background: #f5f9ff;
  padding: 5px;
  border-radius: 3px;
  border-color: transparent;
  outline: none;
}

.app-2 .new-task .time-1 label,
.app-2 .new-task .time-2 label {
  margin-top: 8px;
  font-size: 0.7em;
  font-weight: 600;
}

.app-2 .new-task .time {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.app-2 .new-task .particpants-list {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}

.app-2 .new-task .particpants-list .participant {
  display: flex;
  gap: 4px;
  background: #ffffff;
  border-radius: 13px;
  padding: 4px;
}

.app-2 .new-task .particpants-list .participant h3,
.app-2 .new-task .particpants-list .participant i {
  margin-top: 2px;
}

.app-2 .new-task .particpants-list .participant i {
  color: #c3c7d6;
  font-size: 0.7em;
  margin-top: 5px;
  padding-right: 3px;
}

.app-2 .new-task .new-participant {
  border-radius: 50%;
  border-color: transparent;
  background: #fff;
  color: #9295b2;
}

.app-2 .new-task .location {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
  font-weight: 500;
  font-size: 0.8em;
}

.app-2 .new-task .toggle {
  margin-top: 30px;
}

.app-2 .new-task .toggle .label {
  font-weight: 500;
  font-size: 0.9em;
}

.app-2 .new-task .toggle .toggle-switch {
  top: -25px;
  left: 160px;
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
}

.app-2 .new-task .toggle .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.app-2 .new-task .toggle .toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  width: 60px;
  height: 34px;
}

.app-2 .new-task .toggle .toggle-slider:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.app-2 .new-task .toggle input:checked+.toggle-slider {
  background: linear-gradient(45deg, #4da3ff, #1f6dff) !important;
}

.app-2 .new-task .toggle input:checked+.toggle-slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

.app-2 .new-task .create {
  border-color: transparent;
  color: white;
  padding: 10px;
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
}

::placeholder {
  color: #babdc9;
  font-size: 0.8em;
}

.dark-mode {
  background-color: rgba(17, 25, 40, 0.75);
  color: white;
}

.dark-a {
  color: white;
  display: flex;
  gap: 12.5px;
  padding: 10px;
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 5px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8em;
}

.a2{
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(26px) saturate(180%);
    color: #14284a;
    font-family: "Roboto";
    padding: 10px;
      font-size: 0.5em;
      font-weight: 600;
}

.span-s {
  color: #f1f1f1;
}

.switch {
  top: 10px;
  left: 10px;
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  z-index: 100000;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8cc6ff;
  transition: 0.4s;
  border-radius: 34px;
  width: 60px;
  height: 34px;
}

.slider:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

.slider:after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  content: "";
  border-radius: 50%;
  position: absolute;
  left: 9px;
  bottom: 4px;
  top: 10px;
  transition: 0.4s;
  color: #000;
}

input:checked+.slider {
  background-color: #2196f3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slider:before {
  transform: translateX(26px);
  background: #000;
}

input:checked+.slider:after {
  transform: translateX(26px);
  font-weight: 400;
  content: "";
  text-align: center;
  color: gold;
}

@media screen and (max-width: 665px) {
  body {
    overflow: hidden !important;
      margin: 0;
      padding: 0;
      overflow-x: hidden;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
}
.add{
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #1f2a4d;
    border: 1px solid transparent;
    color: #f6f7f9;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
}
